* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  height: 100vh;
  overflow: auto;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  position: relative;
}

.collections {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.collections img {
  width: 200px;
  height: 200px;
}

.navbar {
  margin-top: 130vh;
  padding-bottom: 200px;
  width: 100vw;
  z-index: 111;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.intro span:nth-child(1) {
  text-align: center;
  letter-spacing: 5px;
  color: #F7FFF7;
  font-size: 4em;
}

.intro span:nth-child(2) {
  letter-spacing: 3px;
  color: #F7FFF7;
  font-size: 2em;
}

.navbar-socials {
  flex-direction: row;
  align-items: center;
  gap: 50px;
  display: flex;
}

.navbar-socials a {
  text-decoration: none;
}

.navbar-socials a img {
  width: 70px;
  border-radius: 50%;
  background-color: white;
}

.gallery {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.ca {
  background-color: #DEFFFC;
  width: 60%;
  padding: 14px 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.ca span {
  font-size: 1.3em;
  font-weight: 600;
}

.block {
  position: absolute;
  width: 160px;
  height: 200px;
  background: #c0c0c0;
  transform-style: preserve-3d;
  transform: translateZ(1750px);
}

.block-1 {
  top: 30%;
  left: 60%;
  background: url("./images/img2.png") no-repeat 50% 50%;
  background-size: cover;
}

.block-2 {
  top: 20%;
  left: 25%;
  background: url("./images/img3.png") no-repeat 50% 50%;
  background-size: cover;
}

.block-3 {
  top: 50%;
  left: 10%;
  background: url("./images/img4.png") no-repeat 50% 50%;
  background-size: cover;
}
.block-4 {
  top: 60%;
  left: 40%;
  background: url("./images/img9.png") no-repeat 50% 50%;
  background-size: cover;
}
.block-5 {
  width: 200px;
  top: 30%;
  left: 30%;
  background: url("./images/img10.png") no-repeat 50% 50%;
  background-size: cover;
}
.block-6 {
  top: 60%;
  left: 60%;
  background: url("./images/img11.jfif") no-repeat 50% 50%;
  background-size: cover;
}
.block-7 {
  top: 20%;
  left: 50%;
  background: url("./images/img12.jfif") no-repeat 50% 50%;
  background-size: cover;
}
.block-8 {
  top: 60%;
  left: 10%;
  background: url("./images/img13.jfif") no-repeat 50% 50%;
  background-size: cover;
}
.block-9 {
  top: 20%;
  left: 40%;
  background: url("./images/img15.jfif") no-repeat 50% 50%;
  background-size: cover;
}
.block-10 {
  top: 40%;
  left: 60%;
  background: url("./images/img14.jfif") no-repeat 50% 50%;
  background-size: cover;
}
.block-11 {
  top: 60%;
  left: 25%;
  background: url("./images/img1.jfif") no-repeat 50% 50%;
  background-size: cover;
}
.block-12 {
  top: 60%;
  left: 55%;
  background: url("https://i.pinimg.com/736x/bb/02/b7/bb02b743a7bfaf7de4dec54cec5fc416.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-13 {
  top: 60%;
  left: 75%;
  background: url("https://i.pinimg.com/564x/ff/41/e1/ff41e10972c1ad0b5959849c6accdbcd.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-14 {
  top: 25%;
  left: 25%;
  background: url("https://i.pinimg.com/736x/63/21/71/632171f4a4f41c10d55144593fca9c13.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-15 {
  top: 50%;
  left: 10%;
  background: url("https://i.pinimg.com/736x/9d/6c/07/9d6c07b5107e2e60443a0742787c8fc5.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.more {
  height: 100vh;
  width: 100vw;
  margin-top: 130vh;
}

.more span {
  color: white;
  font-size: 3em;
  text-align: center;
  justify-content: center;
  display: block;
  margin-bottom: 100px;
}

.videoCon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

@media only screen and (max-device-width:600px) {
  .gallery {
    display: none;
  }
}