* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  height: 100vh;
  overflow: auto;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.collections {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.collections img {
  width: 200px;
  height: 200px;
}

.navbar {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 111;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.intro span:nth-child(1) {
  text-align: center;
  letter-spacing: 5px;
  color: #F7FFF7;
  font-size: 4em;
}

.intro span:nth-child(2) {
  letter-spacing: 3px;
  color: #F7FFF7;
  font-size: 2em;
}

.navbar-socials {
  flex-direction: row;
  align-items: center;
  gap: 50px;
  display: flex;
}

.navbar-socials a {
  text-decoration: none;
}

.navbar-socials a img {
  width: 70px;
  border-radius: 50%;
  background-color: white;
}

.gallery {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.ca {
  background-color: #DEFFFC;
  width: 60%;
  padding: 14px 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.ca span {
  font-size: 1.3em;
  font-weight: 600;
}

.block {
  position: absolute;
  width: 160px;
  height: 200px;
  background: #c0c0c0;
  transform-style: preserve-3d;
  transform: translateZ(1750px);
}

.block-1 {
  top: 30%;
  left: 60%;
  background: url("https://i.pinimg.com/736x/c0/66/78/c066789311c873ac7a164d656d5911ae.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.block-2 {
  top: 20%;
  left: 25%;
  background: url("https://i.pinimg.com/736x/d5/d2/80/d5d280e7288fd99216a0dccf2d6be75f.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.block-3 {
  top: 50%;
  left: 10%;
  background: url("https://i.pinimg.com/736x/a2/62/61/a2626130520e1cd2d54dd4de298adfb3.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-4 {
  top: 60%;
  left: 40%;
  background: url("https://i.pinimg.com/736x/95/31/a6/9531a6a9ce324ab25d664dbe8325a607.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-5 {
  top: 30%;
  left: 30%;
  background: url("https://i.pinimg.com/736x/f4/fd/23/f4fd23aec0724e5a11982adecd39ea14.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-6 {
  top: 60%;
  left: 60%;
  background: url("https://i.pinimg.com/736x/7d/01/3e/7d013e729d94ae5353ac3cd5acaee8bd.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-7 {
  top: 20%;
  left: 50%;
  background: url("https://i.pinimg.com/736x/ed/cb/b0/edcbb078816a591f7b117ef551ab97d6.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-8 {
  top: 60%;
  left: 10%;
  background: url("https://i.pinimg.com/736x/9e/8c/0e/9e8c0e333ec2e13c35b82a2b323846ee.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-9 {
  top: 20%;
  left: 40%;
  background: url("https://i.pinimg.com/736x/6f/67/ca/6f67ca7f8ad4801672d4e6ba00338211.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-10 {
  top: 40%;
  left: 60%;
  background: url("https://i.pinimg.com/736x/2a/e3/95/2ae395bf7f2bf33118a75c8a0ee33f4c.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-11 {
  top: 60%;
  left: 25%;
  background: url("https://i.pinimg.com/564x/7e/f4/b3/7ef4b34858d4e41ff088ab722563039a.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-12 {
  top: 60%;
  left: 65%;
  background: url("https://i.pinimg.com/736x/bb/02/b7/bb02b743a7bfaf7de4dec54cec5fc416.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-13 {
  top: 60%;
  left: 75%;
  background: url("https://i.pinimg.com/564x/ff/41/e1/ff41e10972c1ad0b5959849c6accdbcd.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-14 {
  top: 25%;
  left: 25%;
  background: url("https://i.pinimg.com/736x/63/21/71/632171f4a4f41c10d55144593fca9c13.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.block-15 {
  top: 50%;
  left: 10%;
  background: url("https://i.pinimg.com/736x/9d/6c/07/9d6c07b5107e2e60443a0742787c8fc5.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.more {
  height: 100vh;
  width: 100vw;
  margin-top: 130vh;
}

.more span {
  color: white;
  font-size: 3em;
  text-align: center;
  justify-content: center;
  display: block;
  margin-bottom: 100px;
}

.videoCon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

@media only screen and (max-device-width:600px) {
  .gallery {
    display: none;
  }
}